.header-container {
  
  background-color: #FFF;
  position: absolute;

  top: 0px;
  left: 20vw;
  width: 80vw;
  height: 120px;


  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-container {
  margin-left: 15px;

  display: flex;
  align-items: center;
}

.greeting-text {
  margin-left: 15px;
  font-family: Nunito, Bold;
}

.hello-user {
  font-size: 20px;
  line-height: 15px;

  color: #000;
}

.welcome-user {

  font-size: 16px;
  line-height: 5px;
  padding-left: 20px;

  color:#FCBE11;
}

.notification-icon{
  transform: rotate(45deg);
  color: #000;

  padding-left: 30px;
  padding-bottom: 10px;
  width: 20px;
  height: 20px;
}

.notification-icon:hover{
  fill: #FCBE11;
  transform: rotate(0deg);
  transition: all 250ms;
}