.sidebar-container {

  width: 20vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: #00B2FF;
}

.sidebar-logo-container{
  
  padding-top: 15px;

  display:flex;
  align-items: center;
  justify-content: center;
}


.sidebar-logo-container-image{ 

  height: 80px;
  width: 80px;

  cursor: pointer;

  fill: #FFF; 
}

.sidebar-logo-container-image:hover{ 
  fill: #FCBE11;
  transition: all 250ms;
}

.sidebar-logo-container-text {

  font-family: Nunito, Bold;
  font-size: 12px;
  line-height: 5px;

  color: #FFF; 
}



.sidebar-logo-container-middle-text{
  margin-left: 20px;
}


.sidebar-options-container{

  padding-left: calc(20vw - 200px);
  display: flex;
  flex-direction: column;
}


.sidebar-btn {

  display: flex;
  cursor: pointer;
  text-decoration: none;

  width: 200px;
  height: 55px;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 10px;
  line-height: 40px;

  outline: none;
  border:none;

  justify-content: flex-start;
  align-items: center;
  
}

.active {

  background-color: #FFF;
  color:#000;
}

.disabled:hover{
  background: #53BCE9;
  color: lighten(#53BCE9, 20%); 
  text-decoration: none;
  transition: all 250ms;
}

.disabled{

  background-color: #00B2FF;
  color: #fff;
}

.sidebar-title {

  font-family: Nunito, Bold;
  font-size: 16px;
  line-height: 10px;

  color: #FFF;
}

.active-text {
  color: #000;
}

.disabled-text {
  color: #FFF;
}

.sidedar-icon {

  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;

  fill: #FFF;
}


.active-icon {

  fill: #000;
}

.logout-container{ 

  width: 20vw;
  padding-bottom: 20px;

  display:flex;
  align-items: center;
  justify-content: center;
}

.logout-icon { 

  width: 30px;
  height: 30px;

  color: #FFF
}

.logout-icon:hover{
  color: #FCBE11;
   transition: all 250ms;
}